aiseasons
cache
coherent
dxredist
EasyAntiCheat
httproot
old
paint
replay
logs
lapfiles
telemetry
sentry

*.bat
*.dat
*.dll
*.exe
*.htm
*.ico
*.jpg
*.pdf
*.scn
*.sgn
*.log
*.Backup


version.txt
version_*.txt

Telemetry/*.log

Telemetry/barber-full
Telemetry/montreal
Telemetry/okayama-full
Telemetry/roadamerica-full
Telemetry/sebring-modified
Telemetry/summit-jefferson-rev
Telemetry/suzuka-grandprix
Telemetry/virginia-full
setups/*/SetupSync/*
setups/*/-Current-
*.sto
.vs
*.dmp
iRacerAssistant/irAssist_tmp.ini
iRacerAssistant/irAssist_template.ini
iRacerAssistant/backup*

sidekick/wheels
sidekick/cars

# ignore unused renderer files that sidekick adds
rendererDX11.ini