cache
coherent
dxredist
EasyAntiCheat
httproot
old
paint
replay
logs
lapfiles

*.bat
*.dat
*.dll
*.exe
*.htm
*.ico
*.scn
*.sgn
*.log


version.txt
version_*.txt

Telemetry/*.log

Telemetry/barber-full
Telemetry/montreal
Telemetry/okayama-full
Telemetry/roadamerica-full
Telemetry/sebring-modified
Telemetry/summit-jefferson-rev
Telemetry/suzuka-grandprix
Telemetry/virginia-full
setups/*/SetupSync/*
setups/porsche991rsr/-Current-
*.sto
